<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>trello</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body ng-cloak>
	
	 	<div class="container d-flex d-wrap " 
	 			ng-controller="tasksCtrl as tasksCtrl">
	 		<div class="col-md-12">
	 			<div class="row">

	 				<div class="col-md-3">
	 					<div class="row">
	 						<form ng-submit="tasksCtrl.addTask()">
	 							<input type="text"
	 							 class="form-control"
	 							  placeholder="новая карточка"
	 							  ng-model="tasksCtrl.taskName">
	 						</form>
	 					</div>
	 				</div>

	 				<div class="col-md-3 " 
 							ng-repeat="tasks in tasksCtrl.list" >
	 						
	 					<div class="row">
	 						<div class="card">
	 							
							  <div class="card-body">
							    <h4 class="card-title">{{tasks.title}}</h4>
							    	
							    <p class="card-text">
							      Some quick example text to build on the card title
							      and make up the bulk of the card's content.
							    </p>
							    
							    <button class="btn btn-primary">удалить</button>
							  </div>
							</div>
	 					</div>
	 				</div>
	 				
	 			</div>
	 		</div>
	 	</div>

	<style>
		
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

	</style>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controller/tasksCtrl.js"></script>
  <script src="js/factory/taskFactory.js"></script>

</body>
</html>